<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
<h1>Cadastro</h1>
<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Cadastro de Consulta</legend>
             {{ form.as_p }}
            {% for erro in field.errors %}
                <section class="alert alert-danger" role="alert">
                    {{ field.errors }}
                </section>
            {% endfor %}


            <button type="submit">Cadastrar Médico</button>
    </fieldset>
</form>
</body>
</html>