<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Paciente</title>
</head>
<body>
<h1>Listas Pacientes</h1>

<a href="{% url 'cadastrar-medico' %}">CADASTRAR NOVO MEDICO</a>

<h1>Consulta 1 - Separada</h1>
<table border="1">
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Sexo</th>
        <th>Especialidade</th>
        <th>Atendimento</th>
        <th>Ação</th>
    </tr>
    {% for m in obj_medico %}
    <tr>
        <td>{{m.pk}}</td>
        <td>{{m.nome}}</td>
        <td>{{m.data_nascimento}}</td>
        <td>{{m.especialidade}}</td>
        <td>{{m.atendimento}}</td>
<!--        {% for a in obj_atendimento %}-->
<!--            <td>{{a.atendimento}}</td>-->
<!--        {% endfor %}-->
        <td>
            <a href="{% url 'atualizar-medico' m.pk %}">Alterar</a>
            <a href="{% url 'deletar-medico' m.pk %}">Excluir</a>

        </td>
    </tr>
    {% endfor %}
</table>


<h1>Consulta 2 - Agrupada</h1>

<table>
    <tr>
        <th>#</th>
        <th>Paciente</th>
        <th>Sexo</th>
        <th>Médico</th>
        <th>Numero de registro</th>
    </tr>
    {% for p in obj_paciente_medico %}
    <tr>
        <td>{{p.id}}</td>
        <td>{{p.nome}}</td>
        <td>{{p.sexo}}</td>
        <td>{{p.medico}}</td>
        <td>{{p.medico.numero_registro}}</td>
    </tr>
    {% endfor %}
</table>


</body>
</html>